services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8081:8080"
    volumes:
      - ./searxng:/etc/searxng
    environment:
      - SEARXNG_BASE_URL=http://localhost:8081/
    restart: always

  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./huggingface:/root/.cache/huggingface
    command: --model Qwen/Qwen3-4B-Instruct-2507 --gpu-memory-utilization 0.90 --max-model-len 8192
    deploy:
      resources:
        reservations:
          devices:
            - count: all
              capabilities: [gpu]
    restart: always

volumes:
  # ollama:
  open-webui:
